@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-navy: #060d19;
  --color-brand-orange: #fe7601;
  --color-brand-green: #00cc99;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --background: #ffffff;
  --foreground: #060d19;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00cc99;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fe7601;
}
